* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color:#f9f6f6;
  overflow: hidden;
}
.loading{
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: grid;
  place-content: center;
}
.loader {

  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
  font-size: 25px;
 
}
@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.5), -1.8em -1.8em 0 0em rgba(255,255,255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.5), 1.8em -1.8em 0 0em rgba(255,255,255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.5), 2.5em 0em 0 0em rgba(255,255,255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.5), 1.75em 1.75em 0 0em rgba(255,255,255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.5), 0em 2.5em 0 0em rgba(255,255,255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.5), -1.8em 1.8em 0 0em rgba(255,255,255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.5), -2.6em 0em 0 0em rgba(255,255,255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
aside {
  z-index: 100;
}

/* side bar */
.side-bar {
  height: 100vh;
  width: 70px;
  z-index: 10;
}

.side-bar div:hover {
  cursor: pointer;
}

.bottom-icons i {
  margin-bottom: 10px;
  display: block;
}

.side-bar div i:hover {
  cursor: pointer;
}

.side-bar img {
  width: 50px;
}

.aside-content {
  color: white;
  height: 100vh;
  width: 0;
  overflow: hidden;
  display: block; /* Changed from 'none' to 'block' */
  transition: width 0.5s ease; /* Added 'ease' for smooth animation */
}

.expand {
  width: 200px;
}

ul {
  list-style: none;
  color: white;
}

ul li {
  margin-bottom: 8px;
  cursor: pointer;
}

footer i {
  margin: 0 3px;
  cursor: pointer;
}

.side-icon i {
  font-size: 40px;
}

 input
{
       
      
        background-color: transparent !important;
        color: white !important;
}
 input:focus
{
  background-color: transparent !important;
}
::placeholder
{
  color: #777 !important;
}
.box{
  position: relative;
  overflow: hidden;
}

.layout
{
  position: absolute;
  top:0;
  left: 0;
right: 0;
bottom: 0;
background-color: rgba(237, 229, 229, 0.9);
transition: 0.5s;
transform: translateY(120%);
}

.box:hover .layout
{
  transform: translateY(0);
}
.layout .name
{
  position: absolute;
  top: 50%;
  left: 50%;
  
  transform: translate(-50%,-50%);
  width: 100%;
}
.layout .name p
{
 
  
 cursor: pointer;
}
.details
{
  height: 100vh;
}
.details .container
{
  width: 90%;
  margin: auto;
}
 .details-img 
{
  width: 30%;
}
.dtails-text
{
  width: 60%;
}
.recipes
{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.recipe
{
     height: fit-content;
     background-color: #CFF4FC;
     
     border-radius: 10px;
}
@media (max-width:991px) {
  .details .container
  {
    flex-direction: column;
    width: 100%;
  }
  .dtails-text ,.details-img
  {
 
 width: 90%;
 margin-bottom: 20px;
 margin-left: auto;
 margin-right: auto;
  }
}
.btn-outline-danger
{
  width: fit-content;
}